<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="language" content="english">
    <meta http-equiv="Content-Style-Type" content="text/css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
		$(function() {
			$("#ContaminantType").change(function() {

				var $dropdown = $(this);
                var key = $dropdown.val();
                var vals = [];

                switch(key) {
                    case 'Chemical':
                        vals = {{ listOfChemicalNames|safe }};
                        break;
                    case 'CAS':
                        vals = {{ listOfCASNames|safe }};
                        break;
                    case 'base':
                        vals = ['Please choose from above'];
                }

                var $jsontwo = $("#ContaminantName");
                $jsontwo.empty();
                $.each(vals, function(index, value) {
                    $jsontwo.append("<option>" + value + "</option>");
                });
			});

		});

		$( document ).ready(function() {
			$('#site_name').val('{{ siteName }}');
			$('#site_address1').val('{{ siteaddress1 }}');
			$('#site_address2').val('{{ siteaddress2 }}');
			$('#site_address3').val('{{ siteaddress3 }}');
			$('#site_id').val('{{ siteId }}');
			$('#site_name').val('{{ siteName }}');
			//$('#date_of_search').val('(( dateofsearch }}');
            $('#LandUse').val('{{ landUse }}');
            $('#GroundWaterUtility').val('{{ groundWaterUtility }}');
            $('#DistanceToNearest').val('{{ distanceToNearest }}');
            //$('#ContaminantType').val('{{ contaminantType }}');
            //$('#ContaminantName').val('{{ contaminantName }}');
			
			// Get the element with id="defaultOpen" and click on it
			document.getElementById("defaultOpen").click();
        });
	
		$(function () {
			$('#ContaminantName').multiselect({
				includeSelectAllOption: true
			});
		});
		
		
		function openCity(evt, cityName) {
			var i, tabcontent, tablinks;
			tabcontent = document.getElementsByClassName("tabcontent");
			for (i = 0; i < tabcontent.length; i++) {
				tabcontent[i].style.display = "none";
			}
			tablinks = document.getElementsByClassName("tablinks");
			for (i = 0; i < tablinks.length; i++) {
				tablinks[i].className = tablinks[i].className.replace(" active", "");
			}
			document.getElementById(cityName).style.display = "block";
			evt.currentTarget.className += " active";
		}

    </script>


    <title></title>

    <style type="text/css">
        #navbar #country-select {
            float: left;
            width: 188px;
            height:39px;
        }

        #vertical{
            float:left;
            width:100%;
            height:50%;
            margin-top:-11px; /* half the select height*/
        }

        #navbar select {
            clear:both;
            width: 188px;
            height:22px;
        }

		#myform #ContaminantName {
			width: 350px;
            height:300px;
		}
		
		/* Style the tab */
		div.tab {
			overflow: hidden;
			border: 1px solid #ccc;
			background-color: #f1f1f1;
		}

		/* Style the buttons inside the tab */
		div.tab button {
			background-color: inherit;
			float: left;
			border: none;
			outline: none;
			cursor: pointer;
			padding: 14px 16px;
			transition: 0.3s;
		}

		/* Change background color of buttons on hover */
		div.tab button:hover {
			background-color: #ddd;
		}

		/* Create an active/current tablink class */
		div.tab button.active {
			background-color: #ccc;
		}

		/* Style the tab content */
		.tabcontent {
			display: none;
			padding: 6px 12px;
			//border: 1px solid #ccc;
			border-top: none;
		}
    </style>
</head>

<body>

<h1>EAL Surfer <a href="#"><img class="smaller-image" alt="EAL Surfer logo" src="{{ STATIC_URL }} /static/EALSurferLog.png"></a></h1>
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<h2 class="red-text">Environmental Action Levels Surfer</h2>
<h3>Hawaii DOH </h3> <a href="#"><img class="smaller-image" alt="About Department of Health logo" src="http://health.hawaii.gov/about/files/2014/04/logo.png"></a>
<h3></h3>
<h3>Site Input Worksheet</h3>
<div id="navbar">

    <div id="country-select">

        <div id="vertical">
			<table>
			  <tr>
				<td>
					<form id="myform" action="" method="get">
						Site name:<br>
						<input id="site_name" type="text" name="site_name"><br>
  						Site Address:<br>
  						<input id="site_address1" type="text" name="site_address1"><br>
  						<input id="site_address2" type="text" name="site_address2"><br>
  						<input id="site_address3" type="text" name="site_address3"><br>
						Site ID:<br>
						<input id="site_id" type="text" name="site_id"><br>
						Date of EAL Search:<br>
						<input id="date_of_search" type="date" name="date_of_search"><br>
						<h3></h3>
						<label>Land Use: </label><br>
						<select id="LandUse" name="LandUse">
							<option selected value="base">Please Select</option>
							<option value="unrestricted">Unrestricted</option>
							<option value="commercial">Commercia/Industrial Only</option>
						</select>
						<h3></h3>
						<label>Ground Water Utility: </label><br>
						<select id="GroundWaterUtility" name="GroundWaterUtility">
							<option selected value="base">Please Select</option>
							<option value="drinking">Dringin Water Resource</option>
							<option value="nondrinking">Nondrinking Water Resource</option>
						</select>
						<h3></h3>
						<label>Distance To Nearest Surface Water Body: </label><br>
						<select id="DistanceToNearest" name="DistanceToNearest">
							<option selected value="base">Please Select</option>
							<option value="lessthan"> < 150m</option>
							<option value="greaterthan"> > 150m</option>
						</select>
						<h3></h3>
						<label>Select Contaminant</label><br>
						<select id="ContaminantType" name="ContaminantType">
							<option selected value="base">Please Select</option>
							<option value="Chemical">Chemical</option>
							<option value="CAS">CAS</option>
						</select>
						<select id="ContaminantName" name="ContaminantName" multiple="multiple">
							<option>Please choose from above</option>
						</select>
						<h3></h3>
					
						<input type="submit" value="Submit" onclick="saveInput()"/>
						<h3></h3>
					</form>
				</td>
				<td>
				</td>
				<td>
					<div class="tab">
						<button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">ACENAPHTHENE</button><br>
						<button class="tablinks" onclick="openCity(event, 'Paris')">CYCLO-1,3,5-TRIMETHYLENE-2,4,6-TRINITRAMINE (RDX)</button><br>
						<button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button><br>
						<button class="tablinks" onclick="openCity(event, 'London')">ZINC</button><br>
						<button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button><br>
						<button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button><br>
					</div>
				</td>
				<td>
					<div id="London" class="tabcontent">
						<fieldset>
							<label>Final EALs: </label>
							<h3></h3>
							Soil (mg/kg): <input type="text" name="soilResult" id="txtSoil" value="{{ soil }}"/>1
							Groundwater (ug/L): <input type="text" name="groundWaterResult" id="txtGroundwater" value="{{ groundWater }}"/>
							Soil Vapor (ug/m^3): <input type="text" name="soilVaporResult" id="txtVapor" value="{{ soilVapor }}"/>
						</fieldset>
						</div>
						<div id="Paris" class="tabcontent">
						<fieldset>
							<label>Final EALs: </label>
							<h3></h3>
							Soil (mg/kg): <input type="text" name="soilResult" id="txtSoil" value="{{ soil }}"/>2
							Groundwater (ug/L): <input type="text" name="groundWaterResult" id="txtGroundwater" value="{{ groundWater }}"/>
							Soil Vapor (ug/m^3): <input type="text" name="soilVaporResult" id="txtVapor" value="{{ soilVapor }}"/>
						</fieldset>
						</div>

						<div id="Tokyo" class="tabcontent">
						<fieldset>
							<label>Final EALs: </label>
							<h3></h3>
							Soil (mg/kg): <input type="text" name="soilResult" id="txtSoil" value="{{ soil }}"/>3
							Groundwater (ug/L): <input type="text" name="groundWaterResult" id="txtGroundwater" value="{{ groundWater }}"/>
							Soil Vapor (ug/m^3): <input type="text" name="soilVaporResult" id="txtVapor" value="{{ soilVapor }}"/>
						</fieldset>
						</div>	
				</td>
			  </tr>	
			</table>
        </div>
    </div>
</div>

</body>
</html>            			
